<aside class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
  <!-- LOGO -->
  <div class="logo-container" routerLink="/medgyan">
    <div class="logo">
      @if (isCollapsed) {
      <img src="/logo.png" alt="Hospital Logo" class="logo-image" />

          } @else {
            <img src="/logoonfull.png" alt="Hospital Logo" class="logo-image" />
          }
    </div>
  </div>

  <!-- NAVIGATION -->
  <nav>
    <ul class="sidebar-nav">

      <!-- MASTER -->
      <li class="nav-item" routerLink="/medgyan">
        <a class="nav-link">
          @if (isCollapsed) {
          <i class="fa-solid fa-layer-group nav-icon"></i>
          }
          <span class="nav-text">Dashboard</span>
        </a>
      </li>


      <!-- User DROPDOWN -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="toggleDropdown('user')">
          @if (isCollapsed) {
          <i class="fa-solid fa-user nav-icon"></i>
          }
          <span class="nav-text">Student Management</span>
        </a>

        <ul class="dropdown-menu settingmenu" [class.open]="dropdowns.user">
          <div class="dropdown-grid">
            <li>
              @if (isCollapsed) {
              <i class="fa-solid fa-user-check"></i>

              }@else {

              <a class="dropdown-item" routerLink="/medgyan/student">
                Student Approval
              </a>
              }
            </li>
            <li>
              @if(isCollapsed){
              <i class="fa-solid fa-stopwatch"></i>
              }@else{

              <a class="dropdown-item" routerLink="/ipd/discount">
                Trial Control
              </a>
              }
            </li>
            <!-- <li>

              @if(isCollapsed){
              <i class="fa-regular fa-folder-open"></i>
              }@else {

              <a class="dropdown-item" routerLink="/setting/roles">
                Courses
              </a>
              }
            </li>
            <li>
              @if (isCollapsed) {
              <i class="fa-brands fa-amazon-pay"></i>
              }@else {
              <a class="dropdown-item" routerLink="/setting/permission">
                Payments
              </a>
              }

            </li> -->
          </div>
        </ul>
      </li>
      <!-- Category DROPDOWN -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="toggleDropdown('category')">
          @if (isCollapsed) {
          <i class="fa-solid fa-user nav-icon"></i>
          }
          <span class="nav-text">Category Management</span>
        </a>

        <ul class="dropdown-menu settingmenu" [class.open]="dropdowns.category">
          <div class="dropdown-grid">
            <li>
              @if (isCollapsed) {
              <i class="fa-solid fa-user-check"></i>

              }@else {

              <a class="dropdown-item" routerLink="/medgyan/category">
                Add Categories
              </a>
              }
            </li>
            <li>
              @if(isCollapsed){
              <i class="fa-solid fa-stopwatch"></i>
              }@else{

              <a class="dropdown-item" routerLink="/medgyan/categorylist">
                Categories List
              </a>
              }
            </li>
            <li>
          </div>
        </ul>
      </li> -->



      <!-- Course DROPDOWN -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="toggleDropdown('course')">
          @if (isCollapsed) {
          <i class="fa-solid fa-bars-progress"></i>
          }
          <span class="nav-text">Course Management</span>
        </a>

        <ul class="dropdown-menu settingmenu" [class.open]="dropdowns.course">
          <div class="dropdown-grid">

            <li>
              @if(isCollapsed){
              <i class="fa-solid fa-folder-plus"></i>
              }@else {
              <a class="dropdown-item" routerLink="/medgyan/content">
                Add Course
              </a>
              }

            </li>
            <li>
              @if(isCollapsed){
              <i class="fa-solid fa-map"></i>
              }@else {

              <a class="dropdown-item" routerLink="/medgyan/contentlist">
                Course List
              </a>
              }
            </li>

          </div>
        </ul>
      </li>
    </ul>

    <!-- USER MENU -->
    <div class="user-menu">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="toggleDropdown('settings')">
          @if (isCollapsed) {
          <i class="fa-solid fa-gear nav-icon"></i>
          }
          <span class="nav-text">Settings</span>
        </a>

        <ul class="dropdown-menu" [class.open]="dropdowns.settings">
          <div class="dropdown-grid">
            <li>
              @if (isCollapsed) {
              <i class="fa-solid fa-person"></i>
              }@else {

              <a class="dropdown-item" routerLink="/medgyan/profile">
                Profile
              </a>
              }
            </li>
          </div>
        </ul>
      </div>

      <!-- LOGOUT -->
      <div>
        <a class="nav-link" (click)="logout()">
          @if (isCollapsed) {
          <i class="fa-solid fa-sign-out-alt nav-icon"></i>
          }
          <span class="nav-text">Logout</span>
        </a>
      </div>
    </div>
  </nav>

  <!-- TOGGLE -->
  <div class="sidebar-toggle" (click)="toggleCollapse()">
    <i class="fa-solid"></i>
  </div>
</aside>
