<div class="flex justify-between items-center flex-wrap gap-3">
  <div class="relative max-w-md w-full hidden md:block mt-3">
    <!-- <span class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 text-xl">search</span> -->
    <input class="w-full pl-10 pr-4 py-2  border-none rounded-xl text-sm focus:ring-2  transition-all inputsearch"
      [formControl]="searchControl" placeholder="Search Content by Title..." type="text" />
  </div>

  <!-- ===== PLAN FILTER TABS ===== -->
  <div class="plan-tabs mt-3">
    <button
      class="plan-tab"
      [class.active]="selectedPlan === 'ALL'"
      (click)="filterByPlan('ALL')"
    >
      All
    </button>

    <button
      class="plan-tab"
      [class.active]="selectedPlan === 'TRIAL'"
      (click)="filterByPlan('TRIAL')"
    >
      Trial
    </button>

    <!-- <button
      class="plan-tab"
      [class.active]="selectedPlan === 'BASIC'"
      (click)="filterByPlan('BASIC')"
    >
      Basic
    </button>

    <button
      class="plan-tab"
      [class.active]="selectedPlan === 'PRO'"
      (click)="filterByPlan('PRO')"
    >
      Pro
    </button> -->

    <button
      class="plan-tab"
      [class.active]="selectedPlan === 'PREMIUM'"
      (click)="filterByPlan('PREMIUM')"
    >
      Premium
    </button>
  </div>
</div>

<hr class="mt-3">

<div class="content-page">

  <h2 class="page-title">Courses</h2>
  <p class="subtitle">Courses to get you started</p>

  <div class="content-grid">

    <div class="content-card"
         *ngFor="let item of paginatedContents"
    >
      <div class="thumb" (click)="playVideo(item.contentUrl)">
        <!-- <img
          [src]="'http://localhost:7000/uploads/' + item.thumbnail"
          alt="thumbnail"
        > -->
        <img [src]="'https://medigyan.digitalks.co.in/api/uploads/' + item.thumbnail">
        <div class="play-btn">▶</div>
      </div>

      <div class="card-body">
        <h4 class="title">{{item.title}}</h4>
        <p class="desc">{{item.description | slice:0:90}}...</p>

        <div class="plan-row">
          <span class="plan" *ngFor="let p of item.allowedPlans">
            {{p}}
          </span>
        </div>

        <div class="card-actions">
          <button class="btn-edit" (click)="onEdit(item)">Edit</button>
          <button class="btn-delete" (click)="onDelete(item)">Delete</button>
        </div>
      </div>

    </div>

  </div>

  <!-- ================= PAGINATION ================= -->

  <div class="pagination-box" *ngIf="totalPages > 1">

    <button class="page-btn" (click)="prevPage()" [disabled]="currentPage === 1">
      Prev
    </button>

    <button class="page-btn" *ngFor="let p of pages" [class.active]="p === currentPage" (click)="goToPage(p)">
      {{p}}
    </button>

    <button class="page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>

  </div>

</div>

<!-- VIDEO MODAL -->

<div class="video-modal" *ngIf="selectedVideo">
  <div class="video-container">

    <div class="video-wrapper">
      <iframe
        [src]="selectedVideo"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

    <button class="close-btn" (click)="closeVideo()">Close</button>

  </div>
</div>

<!-- ================= VIDEO MODAL ================= -->

<!-- <div class="video-modal" *ngIf="selectedVideo">
  <div class="video-container">

    <iframe width="100%" height="450" [src]="selectedVideo" frameborder="0" allowfullscreen>
    </iframe>

    <button class="close-btn" (click)="closeVideo()">Close</button>

  </div>
</div> -->
