<div class="container mt-4">

  <h2 class="page-title">Courses</h2>
  <p class="subtitle">Courses to get you started</p>

  <div class="content-grid">

    <div class="content-card" *ngFor="let item of paginatedContents" (click)="playVideo(item.contentUrl)">

      <!-- Thumbnail -->
      <div class="thumb">

        <!-- <img
          [src]="'http://localhost:7000/uploads/' + item.thumbnail"
          alt="thumbnail"
        > -->

        <!-- <img
          [src]="'https://medigyan.digitalks.co.in/api/medgyan/uploads/' + item.thumbnail"
          alt="thumbnail"
        > -->

        <!-- <img [src]="'https://medigyan.digitalks.co.in/uploads/' + item.thumbnail" alt="thumbnail"> -->
         <img [src]="'https://medigyan.digitalks.co.in/api/uploads/' + item.thumbnail">


        <div class="play-btn">▶</div>

      </div>

      <!-- BODY -->
      <div class="card-body">

        <h4 class="title">
          {{item.title}}
        </h4>

        <p class="desc">
          {{item.description | slice:0:90}}...
        </p>

        <div class="plan-row">
          <span class="plan" *ngFor="let p of item.allowedPlans">
            {{p}}
          </span>
        </div>

      </div>

    </div>

  </div>

  <!-- ================= PAGINATION ================= -->

  <div class="pagination-box" *ngIf="totalPages > 1">

    <button class="page-btn" (click)="prevPage()" [disabled]="currentPage === 1">
      Prev
    </button>

    <button class="page-btn" *ngFor="let p of pages" [class.active]="p === currentPage" (click)="goToPage(p)">
      {{p}}
    </button>

    <button class="page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>

  </div>

</div>

<!-- ================= VIDEO MODAL ================= -->

<div class="video-modal" *ngIf="selectedVideo">
  <div class="video-container">

    <iframe width="100%" height="450" [src]="selectedVideo" frameborder="0" allowfullscreen>
    </iframe>

    <button class="close-btn" (click)="closeVideo()">Close</button>

  </div>
</div>
