 <footer  class="sticky bottom-0 z-[999] flex items-center justify-space-between px-4 lg:px-8 py-3 bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-md border-b border-slate-200 dark:border-slate-800">
    <div class="copyright">
      <div class="row" style="display:flex; justify-content: space-around;">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a href="#">Medgyan</a>, All Right Reserved.
        </div>
        <div class="col-md-6 text-center text-md-end">
          <!--/*** The author’s attribution link below must remain intact on your website. ***/-->
          <!--/*** If you wish to remove this credit link, please purchase the Pro Version from https://htmlcodex.com . ***/-->
          Designed By <a href="https://digitalkstechno.com/">Digitalks Techno LLP</a>
        </div>
      </div>
    </div>
  </footer>
