<div class="container mt-4">

  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="content-card">
        <h4>Add Content</h4>

        <form [formGroup]="contentForm" (ngSubmit)="onSubmit()">

          <div class="row">

            <!-- TITLE -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Title</label>
              <input type="text" formControlName="title" class="form-control">

              <small class="text-danger"
                *ngIf="contentForm.get('title')?.touched && contentForm.get('title')?.errors?.['required']">
                Title is required
              </small>
            </div>

            <!-- URL -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Content URL</label>
              <input type="text" formControlName="contentUrl" class="form-control">

              <small class="text-danger"
                *ngIf="contentForm.get('contentUrl')?.touched && contentForm.get('contentUrl')?.errors?.['required']">
                Content Url is required
              </small>
            </div>

            <!-- DESCRIPTION -->
            <div class="col-md-12 mb-3">
              <label class="form-label">Description</label>
              <textarea formControlName="description" class="form-control"></textarea>
            </div>

            <!-- THUMBNAIL -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Thumbnail</label>
              <input type="file" (change)="onThumbnail($event)" class="form-control">

              <small class="text-danger"
                *ngIf="contentForm.get('thumbnail')?.touched && contentForm.get('thumbnail')?.errors?.['required']">
                Thumbnail is required
              </small>
            </div>

            <!-- PLAN -->
            <div class="col-md-12 mb-3">
              <label class="form-label">Allowed Plans</label>

              <div class="plan-box">
                <label *ngFor="let p of plans" class="me-3">
                  <input
                    type="checkbox"
                    [value]="p"
                    (change)="onPlanChange($event)"
                    [checked]="contentForm.value.allowedPlans.includes(p)"
                  >
                  {{ p }}
                </label>

                <small class="text-danger d-block mt-2"
                  *ngIf="contentForm.get('allowedPlans')?.touched && contentForm.get('allowedPlans')?.errors?.['required']">
                  Select at least one plan
                </small>
              </div>
            </div>

          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="contentForm.invalid">
            Save Content
          </button>

        </form>

      </div>

    </div>
  </div>

</div>
